doctype html
html( lang="en" )
    head
        block title
            title= pageName
        meta( charset='utf-8' )
        link( href="https://fonts.googleapis.com/css?family=Archivo&display=swap" rel="stylesheet" )
        link( href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet" )
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        link( rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        script(defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js")
        link( rel="stylesheet" href="/css/styles.css" type="text/css" )



    body
        section#title
            div.navbar
                a.logo(href="/") MOGO!
                .navitems
                    a(href="/restaurants") Restaurants
                    a(href="#") Contact
                    a(href="#") About
                    a(href="/login") Login

        block content